{% extends './plantilla.html' %}
{% load static %}
{% block body %}

<h1>LISTA DE MASCOTAS</h1>
<div class="row">
    <div class="text-end">
        <a href="{% url 'nuevaMascota' %}" class="btn btn-success bg-info">
        Agregar Mascota 
        </a>
    </div>
</div>
<br>

<table class="table table-bordered" id="tbl_mascotas">
    <thead class="table-dark text-center">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Color</th>
            <th>Estado</th>
            <th>Foto</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for mascota in mascotas %}
            <tr>
                <td>{{ mascota.id_mascota }}</td>
                <td>{{ mascota.nombre }}</td>
                <td>{{ mascota.especie}}</td>
                <td>{{ mascota.raza}}</td>
                <td>{{ mascota.edad}}</td>
                <td>{{ mascota.sexo}}</td>
                <td>{{ mascota.color}}</td>
                <td>{{ mascota.estado}}</td>
                <td>
    {% if mascota.foto %}
        <img src="{{ mascota.foto.url }}" alt="" width="60" style="object-fit: cover; border-radius: 8px;">
    {% else %}
        <span class="text-muted">Sin foto</span>
    {% endif %}
</td>

                <td class="text-center">
                    <a href="{% url 'editarMascota' mascota.id_mascota %}" class="btn btn-primary btn-sm">
    <i class="fa-regular fa-pen-to-square"></i>
</a>

                    <a href="#" onclick="eliminarMascota('{{ mascota.id_mascota }}');" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function eliminarMascota(id) {
        Swal.fire({
            title: "Confirmacion?",
            text: "Seguro que desea eliminar!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, Eliminar"
        }).then((result) => {
            if (result.isConfirmed) {
                
                    window.location.href = "/eliminarMascota/" + id;
                }
        });
    }
</script>

{% endblock %}
